
@{
    ViewBag.Title = "Index";
}

<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Đơn hàng đang xử lý</h2>
                                    <p> Tất cả đơn hàng đang xử lý</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="icon nalika-download"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Đơn hàng</h4>
                    <div class="add-product">
                        <a href="product-edit.html">Thêm đơn hàng</a>
                    </div>
                    <table>
                        <tr>
                            <th>Số thứ tự</th>
                            <th>Mã đơn hàng</th>
                            <th>Ngày nhận</th>
                            <th>Ngày giao dự kiến</th>
                            <th>Địa chỉ</th>
                            <th>Thành tiền</th>
                            <th>Nhóm lệnh</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>210003847</td>
                            <td>21/11/2022</td>
                            <td>27/11/2022</td>
                            <td>Vườn Lè , An Phú Đông , Quận 12</td>
                            <td>200.000 vnđ</td>
                            <td>
                                <button class="btn btn-danger">Hủy đơn</button>
                                <button class="btn btn-default">Chi tiết</button>
                                <button class="btn btn-success">Kích hoạt</button>
                            </td>

                        </tr>

                        <tr>
                            <td>1</td>
                            <td>210003847</td>
                            <td>21/11/2022</td>
                            <td>27/11/2022</td>
                            <td>Vườn Lè , An Phú Đông , Quận 12</td>
                            <td>200.000 vnđ</td>
                            <td>
                                <button class="btn btn-danger">Hủy đơn</button>
                                <button class="btn btn-default">Chi tiết</button>
                                <button class="btn btn-success">Kích hoạt</button>
                            </td>

                        </tr>
                        <tr>
                            <td>1</td>
                            <td>210003847</td>
                            <td>21/11/2022</td>
                            <td>27/11/2022</td>
                            <td>Vườn Lè , An Phú Đông , Quận 12</td>
                            <td>200.000 vnđ</td>
                            <td>
                                <button class="btn btn-danger">Hủy đơn</button>
                                <button class="btn btn-default">Chi tiết</button>
                                <button class="btn btn-success">Kích hoạt</button>
                            </td>

                        </tr>
                        <tr>
                            <td>1</td>
                            <td>210003847</td>
                            <td>21/11/2022</td>
                            <td>27/11/2022</td>
                            <td>Vườn Lè , An Phú Đông , Quận 12</td>
                            <td>200.000 vnđ</td>
                            <td>
                                <button class="btn btn-danger">Hủy đơn</button>
                                <button class="btn btn-default">Chi tiết</button>
                                <button class="btn btn-success">Kích hoạt</button>
                            </td>

                        </tr>

                        <tr>
                            <td>1</td>
                            <td>210003847</td>
                            <td>21/11/2022</td>
                            <td>27/11/2022</td>
                            <td>Vườn Lè , An Phú Đông , Quận 12</td>
                            <td>200.000 vnđ</td>
                            <td>
                                <button class="btn btn-danger">Hủy đơn</button>
                                <button class="btn btn-default">Chi tiết</button>
                                <button class="btn btn-success">Kích hoạt</button>
                            </td>

                        </tr>
                        <tr>
                            <td>1</td>
                            <td>210003847</td>
                            <td>21/11/2022</td>
                            <td>27/11/2022</td>
                            <td>Vườn Lè , An Phú Đông , Quận 12</td>
                            <td>200.000 vnđ</td>
                            <td>
                                <button class="btn btn-danger">Hủy đơn</button>
                                <button class="btn btn-default">Chi tiết</button>
                                <button class="btn btn-success">Kích hoạt</button>
                            </td>

                        </tr>
                    </table>
                    <div class="custom-pagination">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



