@using Multi_Shop.Models
@{
    ViewBag.Title = "Index";
}


<div class="header-advance-area">
    <!-- Mobile Menu start -->
    <!-- Mobile Menu end -->
    <div class="breadcome-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="icon nalika-home"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Danh sách khách hàng</h2>
                                        <p> <span class="bread-ntd">Toàn bộ khách hàng </span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="breadcomb-report">
                                    <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="icon nalika-download"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <table>
                        <tr>
                            <th>Ảnh đại diện</th>
                            <th>Tên khách hàng</th>
                            <th>Hoạt động</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                        </tr>
                        @foreach (KhachHang i in Common.getCustomers())
                        {
                            <tr>
                                <td><img src="~/Content/img/new-product/5-small.jpg" alt="" /></td>
                                <td>@i.tenKH</td>
                                <td>
                                    <button class="pd-setting">Active</button>
                                </td>
                                <td>@i.soDT</td>
                                <td>
                                    @i.diaChi
                                </td>
                            </tr>
                        }

                    </table>
                    <div class="custom-pagination">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





